<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.nanodetncnn"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_add_blue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication_scan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"
            tools:ignore="MissingClass">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".passvaluecustActivity"
            android:exported="false" />
        <activity
            android:name=".passvalueActivity"
            android:exported="false" />
        <activity
            android:name=".Verify_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivitywelcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityreg"
            android:exported="true"></activity>
        <activity
            android:name=".login.AlarmActivity"
            android:exported="true"></activity>

        <receiver
            android:name=".login.AlarmReceiver_food"
            android:exported="true">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".login.AlarmReceiver_recipe_mode"
            android:exported="true">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".login.AlarmReceiver_recipe_fridge"
            android:exported="true">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Alert_History_Activity"
            android:exported="true"></activity>
        <activity
            android:name=".ToDoListActivity"
            android:exported="true"></activity>
    </application>

</manifest>